 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How can organisations have an impact?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Society's biggest problems are too complex and too wicked to be solved by one organisation alone, but each organisation, backed by data and analysis can make an impact for the better. </p>
                </div>
                <div class="col-lg-4">
                    <p>My services include:<ul>
                      <li>Sales analysis</li>
                      <li>Growth planning</li>
                      <li>Operational optomisation</li>
                      <li>Ongoing analysis</li> 
                      <li>Forecasting</li> 
                    </ul></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
